body {
  font-family: sans-serif;
}

.view-padding {
  padding: 1em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.card-image,
.card-image > img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
  border-radius: 0.28571429rem;
}

.weigh-sources-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.125em 0;
}

.weigh-sources-flex > .item-flex {
  flex-grow: 1;
}

.right {
  text-align: right;
}
.sourceLogo {
  height: 15px;
  width: 15px;
}

.top-menu > .menu {
  border-radius: 0px;
}

.reset > button {
  margin: 0px !important;
}
.top-margin {
  margin-top: 1em;
}

.form-max-width {
  max-width: 400px;
  margin-bottom: 1em;
}

.map-logo {
  height: 20px;
  width: 20px;
}

.cheap {
  color: green;
}

.expensive {
  color: red;
}